.block{
    text-align: left;
    background: white;
    color: #1d6fa5;
    box-shadow: 1px 1px #1d6fa5;
    margin: 10px;
  }


  #row1 {

    margin-left: 32px;
    margin-top: 100px;
    background-color: rgb(207, 235, 245);
    border-radius: 10px;
    margin-right: 32px;
  }